# DATA STRUCTURES

**STRINGS** / **TUPLE** / **LIST**

In [8]:
x ='COMPUTER' ##slicing
print(x[1:5])
print(x[:2])
print(x[-1:])
print(x[:-3])
print(x[-8:])

OMPU
CO
R
COMPU
COMPUTER

In [13]:
#STRING
x='python' + 'love'
print(x)

#LIST
y=['html','java','python'] + ['ml','dl']
print(y)

#tUPLE
z=('shibanee','pankaj','ashu') +('sayeni',) #in second tuple which i want to add/concatinate should end with a comma
print(z)

pythonlove
['html', 'java', 'python', 'ml', 'dl']
('shibanee', 'pankaj', 'ashu', 'sayeni')

In [14]:
#sTRING
x='pyhton'*3
print(x)

#LIST
y=[2,3]*2
z=['apple',',mango']*3
print(y)
print(z)

#TUPLE
n=(23,45)*2
m=('india','hindi')*2
print(n)
print(m)

pyhtonpyhtonpyhton
[2, 3, 2, 3]
['apple', ',mango', 'apple', ',mango', 'apple', ',mango']
(23, 45, 23, 45)
('india', 'hindi', 'india', 'hindi')

### **checking presence / membership **

In [16]:
#string
x='python'
print('y' in x)

#list
y=['html','java','python']
print('ml' in y)
print('ml' not in y)

#tuple
m=('india','hindi')
print('hindi' not in m)

True
False
True
False

### ***iterating***

In [23]:
##printing item of a list
n =[1,2,3,4,5]
for i in n:
    print(i)
    
##printing item and their intex using **in enumerate**    

x = [10,11,12,13,15]
for index,item in enumerate(x):
    print(index,item)

1
2
3
4
5
0 10
1 11
2 12
3 13
4 15

***counting***

In [1]:
#STRING
x='python'
print(len(x))

#LIST
y=['python','java','html']
print(len(y))

#TUPLE
z=('python','java')
print(len(z))

6
3
2

***printing max and min of numeric n ascii aplhabate***

In [5]:
#STRING
x='python'
print(min(x))

x='1234'
print(min(x))

#LIST
y=['python','java','html']
print(min(y))

y=[100,200,300]
print(min(y))


#TUPLE
z=('python','java')
print(min(z))

z=('python','java')
print(max(z))

z=(10,20,30)
print(max(z))

h
1
html
100
java
python
30

In [13]:
# STRING
# x=[12,20,'hello']
# print(sum(x))          ## **this will give a error cant sum up a string

#LIST
y=[1,2,3,4,5]
print(sum(y))
print(sum(y[2:]))  #sum of last three elements
print(sum(y[-2:])) #sumof last two elments
print(sum(y[:3]))  #sum of first three element

#TUPLE
z=(1,2,3)
print(sum(z))

15
12
9
6
6

***sorting of alphabates n numerics***

In [18]:
#sTRING
x='pyhton'
print(sorted(x))       ##it gonna slice the string

#LIST
y=[1,2,3]
z=['apple',',mango']
print(sorted(y))       
print(sorted(z))

#TUPLE
n=(23,45,7,90)
m=('wow','hen','mug','love')
print(sorted(n))
print(sorted(m))

['h', 'n', 'o', 'p', 't', 'y']
[1, 2, 3]
[',mango', 'apple']
[7, 23, 45, 90]
['hen', 'love', 'mug', 'wow']

**SORTING ON THE BASIS OF THE SECOND ALPHABATE**

In [25]:
##CAN USE LAMBDA FUCTION
m=('cow','hen','zug','light')
print(sorted(m, key=lambda k:k[1])) ##sorting on the basis of 2nd aplhabate 


print(sorted(m, key=lambda k:k[2])) ##sorting on the basis of 2nd aplhabate

['hen', 'light', 'cow', 'zug']
['zug', 'light', 'hen', 'cow']

***count(item) = return the count of a item***

In [29]:
#string
x='madam'
print(x.count('m'))  ##counting the no of a letter in string

#list
y=['java','html','java','python','java']  ##count of a element
print(y.count('java'))

#tuple
m=('india','hindi','india')   ##count of item
print(m.count('india'))

2
3
2

***index(item)=returns the index of first ocuurance of that item***

In [33]:
x='madam'
print(x.index('d')) 

#list
y=['java','html','java','python','java']  
print(y.index('java'))

#tuple
m=('red','blue','pink','yellow')
print(m.index('yellow'))

2
0
3

***unpacking = unpack items of list into variables***

In [35]:
item = ['car','bus','truck']
a,b,c = item  ##just have assigned a varible to each item of the list
print(a,b,c) ##printing the variables

car bus truck

### LISTS

In [1]:
##METHOD OF CREATING A LIST
x = ['20','red','hello','245']
print(x)

y=list()   ##empty list

tuple = ('green','red')
new = list(tuple)
print(new)

['20', 'red', 'hello', '245']

['green', 'red']

In [4]:
##LIST COMPREHENSTION

list= [n for n in range(10)]  ##list of first 9 no
print(list)

list=[i*2 for i in range(10) if i < 5 ]   ##multipling 2 in each item of list
print(list)

list=[i*i for i in range(10) if i < 5 ]   ##squaring each item in the list 
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[0, 1, 4, 9, 16]

***append / extend / insert***

In [3]:
##append
x=[2,3,4,5]
x.append(7) ##append can take only one argument n gonna add at the end
print(x)

##extend
y=[10,20,30]
z=[100,300]  ##extending the list
y.extend(z)
print(y)

##insert
n=[34,45,56]
n.insert(100,200)
print(n)
n=[12,23,34]
n.insert(1,['hello','hii'])

[2, 3, 4, 5, 7]
[10, 20, 30, 100, 300]
[34, 45, 56, 200]

***del / remove / pop /insert***

In [5]:
#deleting a element
x=[1,2,3,4]     ##del on basis of index
del(x[2])
print(x)

#removeing 
x=[11,22,33,44,66]  ##removing a perticular item from list
x.remove(33)
print(x)


#pop
x=[100,200,300]  ##just pop will pop out the last item only
x.pop()
print(x)
print(x.pop())

[1, 2, 4]
[11, 22, 44, 66]
[100, 200]
200

***reverse / sort***

sorted() =sort the new list without changing the original one

sort() = sort list in place

In [12]:
x=[1,2,3,4]
x.reverse()
print(x)

#sort
x=[1,23,100,5,62]         ##sort in increasing order
x.sort()
print(x)

y=[90,1,72,300,5]          ##sort in decresing order
x.sort(reverse=True)
print(x)

[4, 3, 2, 1]
[1, 5, 23, 62, 100]
[100, 62, 23, 5, 1]

### TUPLES

*THEY ARE IMMUTABLE

*USEFUL FOR FIXED DATA

*FASTER THAN THE LIST

In [14]:
##CREATING / CONSTRUCTING TUPLES

x=()

x=(1,2,3,4)
print(x)

x=10,20,30    ##python will consider it as tuples
print(x)

x=1,
print(x)     ##tuple having one item just put a comma python will consider it as a tuple

list=[23,34,45]    ##converting list to tuple
x=tuple(list)
print(x)
print(x, type(x))  #can also check the type

(1, 2, 3, 4)
(10, 20, 30)
(1,)
(23, 34, 45)
(23, 34, 45) <class 'tuple'>